<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>

    </p>
    <address>
        Super Rentals HQ
        <p>
            1234 Testy Boulevard<br>
            Testington, NC 98765
        </p>
        <a href="tel:123.456.7890">+1 (123) 456-7890</a><br>
        <a href="mailto:superrentalsrep@emberjs.com">superrentalsrep@emberjs.com</a>
   </address>
</div>

{{outlet}}